<left-menu [selectedPage]="2"></left-menu>

<div class="split right">
  <span class="logo2 big">Vos ingrédients</span>
  <div class="search">
    <input name="search" placeholder="{{loupe}} Rechercher des ingrédients" type="text">
  </div>
  <div class="ingredient-categories">
    <categories [categories]="categories" (newCategoryEvent)="getSelectedCategory($event)"></categories>
  </div>
  <ingredients [categories]="categories" [ingredients]="selectedIngredients" [dataLoaded]="dataLoaded"></ingredients>
</div>
