<div class="categories-layout" id="category">
  <div class="categories-text">
    <span class="welcome light-grey fs25">Catégrories</span>
    <!--<span class="welcome green">Voir toutes les catégories     <img src="../../../assets/images/arrow.png"/></span>-->
  </div>
  <div class="categories">
    <div id="cat{{index}}" class="category" *ngFor="let category of categories; let index = index" (click)="setSelectedCategory(index, category)">
      <div class="category-img" style="height: 1.5vw;width: 1.5vw">
        <img [src]="'../../../assets/images/'+category.image" style="height: 100%;width: 100%;">
      </div>
      <p class="category-text">{{category.name}}</p>
    </div>
  </div>
</div>
