<div class="split menu" style="overflow-y: hidden">
  <div class="top-menu">
    <pre class="logo">Logo.</pre>
  </div>
  <div class="bottom-menu">
    <pre class="menu-title">MENU</pre>
    <div class="menu-container">
      <a href="/home-recipe"><img src="../../../assets/images/home.png"/></a>
      <img src="../../../assets/images/recipe.png">
      <img src="../../../assets/images/stock.png">
    </div>
    <div class="menu-container account">
      <img src="../../../assets/images/user.png">
      <img src="../../../assets/images/help.png">
      <img src="../../../assets/images/logout.png">
    </div>
  </div>
</div>
<div class="split left">
  <div class="new-recipe-page-title logo2 big">Nouvelle recette</div>
  <form [formGroup]="recipeFormGroup" class="form" (submit)="submit()">
    <div class="form-element">
      <label for="name">Nom de la recette</label>
      <input id="name" maxlength="100" name="name" formControlName="name" type="text" placeholder="Fish & chips"
             required (keyup.enter)="undefined">
    </div>
    <div class="form-element">
      <label for="desc">Description</label>
      <textarea id="desc" name="desc" required rows="5" formControlName="desc" type="text"></textarea>
    </div>
    <!--<div class="form-container">
      <div class="form-container-name">
        <label for="firstname">Prénom de l'auteur</label>
        <input id="firstname" name="firstname" required type="text">
      </div>
      <div class="form-container-name">
        <label for="lastname">Nom de l'auteur</label>
        <input id="lastname" name="lastname" required type="text">
      </div>
    </div>-->
    <div class="form-container">
      <div class="form-container-name">
        <label for="recipe-photo">Photo</label>
        <input id="recipe-photo" class="photo-container" name="recipe-photo" formControlName="image" type="file"
               (change)="uploadImage($event)" (keyup.enter)="uploadImage($event)"/>
      </div>
      <div class="form-container-name">
        <label for="nbDiners">Nombre de couvert</label>
        <input id="nbDiners" name="nb-diners" formControlName="nbDiners" type="number" min="1" placeholder="1"
               value="1" (keyup.enter)="undefined">
      </div>
    </div>

    <div class="custom-select" style="width: 100%;padding: 0;box-shadow: none">
      <label for="category">Catégorie</label>
      <select id="category"
              name="category"
              #categoryElem formcontrolname="name"
              (change)="updateCategory(categoryElem.value)"
              style="box-shadow: inset 0 0 8px #0000001f;
              border: none;
              border-radius: 0.521vw;
              padding: 1%;">
        <option *ngFor="let category of recipeCategories"
                [value]="category.name">{{category.name}}</option>
      </select>
    </div>


    <div style="display: flex; align-items: center;margin-top: 1%">
      <span class="semibold">Étapes</span>
      <button type="button" class="button-step" (click)="addStep()">+</button>
      <button type="button" class="button-step" (click)="removeStep()">-</button>
    </div>
    <div formArrayName="steps" *ngFor="let step of recipeFormGroup.get('steps')!['controls']; let indexStep = index;"
         class="form-step">

      <div [formGroupName]="indexStep">
        <div style="display: flex;justify-content: space-between;align-items: flex-start;">
          <label for="stepName">Nom de l'étape {{indexStep + 1}}</label>
          <img (click)="removeStepAt(indexStep)" src="assets/images/close.png" alt="">
        </div>
        <input class="form-element" id="stepName" maxlength="100" name="name" formControlName="stepName" type="text"
               placeholder="Éplucher"
               (change)="updateStepName(indexStep)">
        <label for="stepDesc{{indexStep}}">Description</label>
        <textarea class="form-element" id="stepDesc{{indexStep}}" name="desc" rows="5" formControlName="stepDesc"
                  type="text"
                  required="required"
                  (change)="updateStepDesc(indexStep)"></textarea>
        <div class="semibold"
             style="display: flex; width: 98%; margin-top: 1%;box-shadow: inset 0px -1px 0px 0px #7070702b;">
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 20%;padding: 1%">Catégories</div>
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 35%;padding: 1%">Ingrédients</div>
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 18%;padding: 1%">Quantités</div>
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 10%;padding: 1%">Unit</div>
          <div style="width: 5%;padding: 1%"></div>
        </div>

        <div>
          <div formArrayName="ingredientFormArray"
               *ngFor="let ingredient of getIngredientsFormArray(indexStep).controls;let index = index">
            <div [formGroupName]="index" style="display: flex; width: 98%;">
              <div class="custom-select">
                <select #category formcontrolname="category"
                        (change)="updateCategoryIngredient(indexStep ,index, category.value)">
                  <option *ngFor="let category of getAllCategories(index)"
                          [value]="category.id">{{category.name}}</option>
                </select>
              </div>
              <div class="custom-select" style="width: 35%">
                <select #ingredientElem formcontrolname="name"
                        (change)="updateNameIngredient(indexStep ,index, ingredientElem.value)">
                  <option *ngFor="let ingredient of getIngredientsOfCat(category.selectedIndex)"
                          [value]="ingredient.name">{{ingredient.name}}</option>
                </select>
              </div>
              <input id="qteIngredientInput{{index}}" formControlName="quantity"
                     style="background:none;border-radius:0;border: none;font-size: 1.563vw;font-family: 'Segoe UI', sans-serif;box-shadow: inset -1px 0px 0px 0px #7070702b;width: 20%;padding: 1%"
                     (change)="updateQuantityIngredient(indexStep,index)"
                     (keyup.enter)="updateQuantityIngredient(indexStep,index)"
                     placeholder="10"
                     required>
              <div
                style="background:none;border-radius:0;border: none;font-size: 1.563vw;font-family: 'Segoe UI', sans-serif;box-shadow: inset -1px 0px 0px 0px #7070702b;width: 10%;padding: 1%">
                {{getIngredientUnit(indexStep, index)}}
              </div>

              <button
                type="button"
                style="border: none;font-size: 1.563vw;font-family: 'Segoe UI', sans-serif;box-shadow: none;width: 5%;padding: 1%; background: none"
                (click)="removeIngredientAtIndex(indexStep, index)">
                <img src="assets/images/close.png" alt="">
              </button>
            </div>
          </div>
        </div>
        <span (click)="addIngredient(indexStep)" class="green fs25" style="margin-top: 1%">Ajouter un ingrédient</span>

      </div>
    </div>

    <button type="submit" class="submit google">
      Enregister et continuer
    </button>
    <div id="errorMessage" class="fs25 semibold" style="color: #ff3f3f;" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </form>
</div>
<div id="recipeToPDF" class="split right pdf-container">
  <div class="pdf-page">
    <div class="new-recipe-page-title logo2">{{getRecipeName()}}</div>
    <div class="pdf-content">
      <div class="pdf-text-content fs25">
        <p>{{getRecipeDescription()}}</p>
        <span>Léo Brunet</span>
        <p>{{getRecipeNbDiners()}}</p>
      </div>

      <img (click)="setImage()" [src]="recipeImageLocalUrl" *ngIf="recipeImageLocalUrl"
           style="position: absolute;width: 30%; right: 0; margin: 2% 7%; border-radius: 2%">
    </div>
    <div class="pdf-text-content fs25"
         *ngFor="let step of recipeFormGroup.get('steps')!['controls']; let index = index;">
      <div style="display: flex;justify-content: space-between;">
        <div>
          <span>{{step.get('stepName').value}}</span>
          <p>{{step.get('stepDesc').value}}</p>
        </div>
        <div>
          <div *ngFor="let ingredient of getIngredients(index); let indexI = index">
            <div>{{getQuantity(index, indexI) + " " + ingredient.unit + " de " + ingredient.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
