<div class="split menu" style="overflow-y: hidden">
  <div class="top-menu">
    <pre class="logo">Add.</pre>
  </div>
  <div class="bottom-menu">
    <pre class="menu-title">MENU</pre>
    <div class="menu-container">
      <a href="/home-recipe"><img src="../../../assets/images/home.png"/></a>
      <a href="/home-ingredient"><img src="../../../assets/images/recipe.png"></a>
      <a href="/sales"><img src="../../../assets/images/stock.png"></a>
    </div>
    <div class="menu-container account">
      <img src="../../../assets/images/user.png">
      <img src="../../../assets/images/help.png">
      <img src="../../../assets/images/logout.png">
    </div>
  </div>
</div>
<div class="split left">
  <div class="new-recipe-page-title logo2 big">Nouvelle recette</div>
  <form [formGroup]="recipeFormGroup" class="form" (submit)="submit()">
    <div class="form-element">
      <label for="name">Nom de la recette</label>
      <input id="name" maxlength="100" name="name" formControlName="name" type="text" placeholder="Fish & chips"
             required (keyup.enter)="undefined">
    </div>
    <div class="form-element">
      <label for="desc">Description</label>
      <textarea id="desc" name="desc" required rows="5" formControlName="desc" type="text" min="40" required></textarea>
    </div>
    <!--<div class="form-container">
      <div class="form-container-name">
        <label for="firstname">Prénom de l'auteur</label>
        <input id="firstname" name="firstname" required type="text">
      </div>
      <div class="form-container-name">
        <label for="lastname">Nom de l'auteur</label>
        <input id="lastname" name="lastname" required type="text">
      </div>
    </div>-->
    <div class="form-container">
      <div class="form-container-name">
        <label for="recipe-photo">Photo</label>
        <input id="recipe-photo" class="photo-container" name="recipe-photo" formControlName="image" type="file"
               style="cursor: pointer"
               (change)="uploadImage($event)" (keyup.enter)="uploadImage($event)" required/>
      </div>
      <div class="form-container-name">
        <label for="nbDiners">Nombre de couvert</label>
        <input id="nbDiners" name="nb-diners" formControlName="nbDiners" type="number" min="1"
               value="1" (keyup.enter)="undefined">
      </div>
    </div>

    <div class="custom-select" style="width: 100%;padding: 0;box-shadow: none">
      <label for="category">Catégorie</label>
      <select id="category"
              name="category"
              #categoryElem formcontrolname="name"
              (change)="updateCategory(categoryElem.value)"
              style="box-shadow: inset 0 0 8px #0000001f;
              border: none;
              border-radius: 0.521vw;
              padding: 1%;">
        <option *ngFor="let category of recipeCategories"
                [value]="category.name">{{category.name}}</option>
      </select>
    </div>


    <div style="display: flex; align-items: center;margin-top: 1%">
      <span class="semibold">Étapes</span>
      <button type="button" class="button-step" (click)="addStep()">+</button>
      <button type="button" class="button-step" (click)="removeStep()">-</button>
    </div>
    <div formArrayName="steps"
         *ngFor="let step of recipeFormGroup.get('steps')!['controls']; let indexStep = index; let stepModel of this.recipe.steps"
         class="form-step">
      <div [formGroupName]="indexStep">
        <div style="display: flex;justify-content: space-between;align-items: flex-start;">
          <label for="stepName">Nom de l'étape {{stepModel.position}}</label>
          <img (click)="removeStepAt(indexStep)" src="assets/images/close.png" alt="">
        </div>
        <input class="form-element" id="stepName" maxlength="100" name="name" formControlName="stepName" type="text"
               placeholder="Éplucher"
               (change)="updateStepName(indexStep)">
        <label for="stepDesc{{indexStep}}">Description</label>
        <textarea class="form-element" id="stepDesc{{indexStep}}" name="desc" rows="5" formControlName="stepDesc"
                  type="text"
                  required="required"
                  (change)="updateStepDesc(indexStep)"></textarea>
        <label for="stepDuration">Durée (en minutes)</label>
        <input id="stepDuration" name="duration" formControlName="stepDuration" type="number"
               value="10" min="1"
               (change)="updateStepDuration(indexStep)">
        <div class="semibold"
             style="display: flex; width: 98%; margin-top: 1%;box-shadow: inset 0px -1px 0px 0px #7070702b;">
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 20%;padding: 1%">Catégories</div>
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 35%;padding: 1%">Ingrédients</div>
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 18%;padding: 1%">Quantités</div>
          <div style="box-shadow: inset -1px 0px 0px 0px #7070702b;width: 10%;padding: 1%">Unit</div>
          <div style="width: 5%;padding: 1%"></div>
        </div>

        <div>
          <div formArrayName="ingredientFormArray"
               *ngFor="let ingredient of getIngredientsFormArray(indexStep).controls;let index = index">
            <div [formGroupName]="index" style="display: flex; width: 98%;">
              <div class="custom-select">
                <select formControlName="category"
                        (change)="updateCategoryIngredient(indexStep ,index)">
                  <option *ngFor="let category of getAllCategories(indexStep, index)"
                          [ngValue]="category">{{category.name}}</option>
                </select>
              </div>
              <div class="custom-select" style="width: 35%">
                <select formControlName="name"
                        (change)="updateNameIngredient(indexStep ,index)">
                  <option *ngFor="let ingredient of getIngredientsOfSelectedCat(indexStep, index)"
                          [ngValue]="ingredient">{{ingredient.name}}</option>
                </select>
              </div>
              <input id="qteIngredientInput{{index}}" formControlName="quantity"
                     style="background:none;border-radius:0;border: none;font-size: 1.563vw;font-family: 'Segoe UI', sans-serif;box-shadow: inset -1px 0px 0px 0px #7070702b;width: 20%;padding: 1%"
                     (change)="updateQuantityIngredient(indexStep,index)"
                     (keyup.enter)="updateQuantityIngredient(indexStep,index)"
                     placeholder="10"
                     required>
              <div
                style="background:none;border-radius:0;border: none;font-size: 1.563vw;font-family: 'Segoe UI', sans-serif;box-shadow: inset -1px 0px 0px 0px #7070702b;width: 10%;padding: 1%">
                {{getIngredientUnit(indexStep, index)}}
              </div>

              <button
                type="button"
                style="border: none;font-size: 1.563vw;font-family: 'Segoe UI', sans-serif;box-shadow: none;width: 5%;padding: 1%; background: none"
                (click)="removeIngredientAtIndex(indexStep, index)">
                <img src="assets/images/close.png" alt="">
              </button>
            </div>
          </div>
        </div>
        <span (click)="addIngredient(indexStep)" class="green fs25" style="margin-top: 1%;cursor: pointer">Ajouter un ingrédient</span>
      </div>
    </div>
    <div style="display: flex; align-items: center;margin-top: 1%">
      <span class="semibold">Recettes à réaliser</span>
      <button type="button" class="button-step" (click)="addRecipeStep()">+</button>
      <button type="button" class="button-step" (click)="removeRecipeStep()">-</button>
    </div>
    <div formArrayName="recipeSteps"
         *ngFor="let step of recipeFormGroup.get('recipeSteps')!['controls']; let indexRecipeStep = index; let stepModel of this.recipe.recipeSteps"
         class="form-step">
      <div style="display: flex;justify-content: space-between;align-items: flex-start;">
        <label for="stepName">Nom de la recette à réaliser en temps que
          <img (click)="updateSubRecipePosition(indexRecipeStep, -1)"
               src="../../../assets/images/arrow_left.png"
               style="height: 14px"> Étape {{stepModel.position}}
          <img src="../../../assets/images/arrow_right.png" style="height: 14px"
               (click)="updateSubRecipePosition(indexRecipeStep,1)"></label>
        <img (click)="removeRecipeStepAt(indexRecipeStep)" src="assets/images/close.png" alt="">
      </div>
      <div class="custom-select" style="width: 98%;box-shadow: none">
        <select #recipe id="recipeName" formcontrolname="recipeFormControl"
                (change)="updateSubRecipe(indexRecipeStep, recipe.value)"
                style="box-shadow: inset 0 0 8px #0000001f;border: none;border-radius: 0.521vw;padding: 1%;">
          <option *ngFor="let recipe of recipes"
                  [value]="recipe.num">{{recipe.name + " (numéro de recette: " + recipe.num + ")"}}</option>
        </select>
      </div>
    </div>
    <!--<span class="fs25" style="margin-top: 1%"
          (click)="addRecipeStep()"><u>Ajouter une recette en tant qu'étape {{this.recipe.steps.length + 1}}</u></span>-->
    <button type="submit" class="submit google">
      Enregister et continuer
    </button>
    <div id="errorMessage" class="fs25 semibold" style="color: #ff3f3f;" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </form>
</div>
<div class="split right pdf-container">
  <div id="recipeToPDF" class="pdf-page">
    <div class="new-recipe-page-title logo2">{{getRecipeName()}}</div>
    <div class="pdf-content" style="height: fit-content">
      <div class="pdf-text-content fs25">
        <p>{{getRecipeDescription()}}</p>
        <span>Léo Brunet</span>
        <p>{{getRecipeNbDiners()}}</p>
      </div>


      <!--<img (click)="setImage()" [src]="recipeImageLocalUrl" *ngIf="recipeImageLocalUrl"
           style="cursor: pointer;width: 30%; right: 0; margin: 2% 3%; border-radius: 2%">-->
      <div style="position:relative;cursor: pointer;width: 30%; right: 0; margin: 2% 3%; border-radius: 2%">
        <div style="position:absolute;z-index: 1;right: 2%;top: 2%"
             *ngIf="progress != 0 && progress != 100">{{progress}}%
        </div>
        <img style="position:absolute;z-index: 0; width: 100%" (click)="setImage()" [src]="recipeImageLocalUrl"
             *ngIf="recipeImageLocalUrl">
      </div>
    </div>
    <div class="pdf-text-content fs25"
         *ngFor="let position of counter(nbStepsTotal);">
      <div *ngIf="getStepAtPosition(position)" style="display: flex;justify-content: space-between;">
        <div style="max-width: 70%">
          <span>Étape {{position}}</span>
          <p><u>{{getFormStepAt(position).get('stepName')!.value}}</u></p>
          <p>{{getFormStepAt(position).get('stepDesc')!.value}}</p>
        </div>
        <div>
          <div *ngFor="let ingredient of getIngredients(getIndexFormStepAt(position)); let indexI = index">
            <div>{{getQuantity(getIndexFormStepAt(position), indexI) + " " + ingredient.unit.name + " de " + ingredient.name}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="getRecipeStepAtPosition(position)">
        <div style="max-width: 70%">
          <span>Étape {{position}}</span>
          <p>{{getFormRecipeStepAt(position)!.value.name}}</p>
        </div>
        <div>
          <!--<div *ngFor="let ingredient of getAllIngredientsOfRecipe(getFormRecipeStepAt(position)!.value.num)[0];">
            <div>{{ingredient.unit.name + " de " + ingredient.name}}</div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
