<div class="banner" id="banner">
  <div class="banner-elem" *ngFor="let recipe of getFirstsRecipes(); let index = index">
    <div *ngIf="recipe">
      <a class="banner-img-shadow" href="#"><img class="banner-recipe-img"
                                                 [src]="imagesPath[index]"></a>
      <a href="/recipe/{{recipe.num}}">
        <div class="inside-banner-elem">
          <div class="banner-status">RÉCENT</div>
          <div class="banner-recipe-infos">
            <div class="banner-title">{{recipe.name}}</div>
            <div class="banner-time"><!--<img src="images/clock.png">-->{{recipe.duration}} min
              &#183; {{+(recipe.ingredientCost + (recipe.ingredientCost * 0.05) + (recipe.duration * averageMinuteRate) + (this.recipe.duration * averageMinuteRateFluid)).toFixed(2)}} €
            </div>
            <!--<div class="banner-cost">10 €/part</div>-->
            <p class="banner-desc"> {{recipe.desc}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
