@font-face {
  font-family: "Segoe UI Semibold";
  src: local("seguisb.ttf"), url("../fonts/segoe-ui-semibold/seguisb.ttf") format("truetype")
}

@font-face {
  font-family: "Segoe UI";
  src: local("seguisb.ttf"), url("../fonts/segoe-ui-semibold/segui.ttf") format("truetype")
}

.two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.three-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.classic-font {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.logo1 {
  font-weight: 500;
  color: white;
  font-size: 1.563vw;
}

.logo2 {
  font-weight: bold;
  color: #0F0E2D;
  font-size: 1.563vw;
  font-family: 'Segoe UI', sans-serif;
}

.slogan {
  font-weight: bold;
  color: #0F0E2D;
  font-size: 2.083vw;
}

.big {
  font-size: 2.604vw;
  /*50px*/
}

.ref {
  color: #0F0E2D;
  font-size: 1.042vw;
}

.bold {
  font-weight: bold;
}

.grey {
  color: #0F0E2D;
}

.white {
  color: white;
}

.light-grey {
  color: #8D8D9F !important;
}

.green {
  color: #599442;
}

.bg-green {
  background: #599442;
}

.fs25 {
  font-size: 1.302vw;
}

.fs15 {
  font-size: 1.0415vw;
}

.fs15 {
  font-size: 0.781vw;
}

.semibold {
  font-family: "Segoe UI Semibold", sans-serif;
}

.custom-select {
  font-family: "Segoe UI", sans-serif;
  border-radius: 0;
  border: none;
  font-size: 1.563vw;
  box-shadow: inset -1px 0px 0px 0px #7070702b;
  width: 20%;
  padding: 1%
}

.custom-select select {
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  font-size: 1.563vw;
  border: none;
}

.no-margin {
  margin: 0;
}

