@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../fonts/segoe-ui-semibold/seguisb.ttf") format("ttf")
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/segoe-ui-semibold/segui.ttf") format("ttf")
}

label {
  display: block;
  padding-bottom: 0.208vw;
  font-family: "Segoe UI Semibold";
}

input {
  box-shadow: inset 0 0 8px #0000001f;
  border: none;
  border-radius: 0.521vw;
  width: 90%;
  padding: 20px 5%;
  line-height: 1.042vw;
  font-size: 1.042vw;
}

