.background {
  background: #000000AA;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: block
}

.pop-up {
  width: 30%;
  border-radius: 0.4vw;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
