<left-menu [selectedPage]="1"></left-menu>

<div class="split right">
  <span class="welcome light-grey">Bonjour Nicolas,</span>
  <span class="logo2 big">Vos Recettes</span>
  <div class="search">
    <input name="search" placeholder="{{loupe}}  Rechercher des recettes" type="text">
  </div>
  <banner-recipe [recipes]="recipes"></banner-recipe>
  <categories [categories]="categories" (newCategoryEvent)="getSelectedCategory($event)"></categories>
  <recipes [recipes]="selectedRecipes"></recipes>
</div>
