<left-menu [selectedPage]="1"></left-menu>

<div class="split right">
  <span class="welcome light-grey">Bonjour Nicolas,</span>
  <span class="logo2 big">Vos Recettes</span>
  <div class="search">
    <input #searchInput name="search" placeholder="{{loupe}}  Rechercher des recettes" type="text" (keyup.enter)="search(searchInput.value)">
  </div>
  <banner-recipe [recipes]="recipes" [imagesPath]="imagesPath"></banner-recipe>
  <categories [categories]="categories" (newCategoryEvent)="getSelectedCategory($event)"></categories>
  <span *ngIf="lastResearch" class="welcome light-grey fs25" style="margin-top: 10px">Résultat de la recherche : {{lastResearch}} ({{getNbResult()}})</span>
  <recipes [recipes]="selectedRecipes" [imagesPath]="selectedImagePath"></recipes>
</div>
