<div class="recipes">
  <div class="recipe" *ngFor="let recipe of recipes" (click)="goToRecipe(recipe)" style="cursor: pointer;">
    <img class="recipe-img" src="../../../assets/images/fish_chips.png">
    <div class="recipe-text">
      <p class="bold grey">{{recipe.name}}</p>
      <p class="recipe-desc light-grey fs15">{{recipe.desc}}</p>
      <hr/>
      <div style="display: flex; justify-content: space-between; font-family: 'Segoe UI Semibold'">
        <p class="grey fs15">{{recipe.duration}} min</p>
        <p class="grey fs15">{{+(recipe.ingredientCost + (recipe.ingredientCost * 0.05) + (recipe.duration * averageMinuteRate) + (this.recipe.duration * averageMinuteRateFluid)).toFixed(2)}} €</p>
      </div>

    </div>
  </div>
</div>
