<div class="recipes">
  <div class="recipe" *ngFor="let recipe of recipes; let index = index" (click)="goToRecipe(recipe)" style="cursor: pointer;background: #e3e3e370; border-radius: 0.417vw">
    <div class="wrap-recipe-img">
      <img class="recipe-img" [src]="imagesPath[index]">
    </div>
    <div class="recipe-text">
      <p class="bold grey" style="margin: 2% 0">{{recipe.name}}</p>
      <p class="recipe-desc light-grey fs15 two-lines">{{recipe.desc}}</p>
      <hr/>
      <div style="display: flex; justify-content: space-between; font-family: 'Segoe UI Semibold'">
        <p class="grey fs15">{{recipe.duration}} min</p>
        <p class="grey fs15">{{+(recipe.ingredientCost + (recipe.ingredientCost * 0.05) + (recipe.duration * averageMinuteRate) + (this.recipe.duration * averageMinuteRateFluid)).toFixed(2)}} €</p>
      </div>
    </div>
  </div>
</div>
